[build-system]
requires = ["setuptools>=65.5.1", "requests>=2.29.0", "pytest>=7.3.1", "boto3>=1.28.28", "libcst==1.1.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
exclude = [".github", "tests"]

[project]
name = "pytest-analyzer"
version = "1.4.1"

dependencies = [
    "requests>=2.29.0",
    "pytest>=7.3.1",
    "boto3>=1.28.28",
    "libcst==1.1.0"]

authors = [
    { name = "Oleksii Ostapov" },
]
description = "this plugin allows to analyze tests in pytest project, collect test metadata and sync it with testomat.io TCM system"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Framework :: Pytest",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Author's Blog" = "https://qamania.org"
"Homepage" = "https://github.com/Ypurek/pytest-analyzer"
"Bug Tracker" = "https://github.com/Ypurek/pytest-analyzer/issues"

[project.entry-points.pytest11]
analyzer = "analyzer.analyzer"